<launch>
  <!-- Following is for some reason required in ROS Noetic. My mistake for using noetic :( -->
       <param name="robot_description" command="$(find xacro)/xacro $(find jackal_description)/urdf/jackal.urdf.xacro"/>
       
       <include file="$(find jackal_gazebo)/launch/hrtac_world.launch">
       <arg name="config" value="front_laser"/>
       <arg name="use_sim_time" value="true"/>
       <arg name="gui" value="false"/>
       <arg name="headless" value="true"/>
       </include>
  


  <!-- Run the map server
  <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/> -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_global_planner" value="GlobalPlanner"/>
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    
    <rosparam file="$(find auvsl_planner)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find auvsl_planner)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find auvsl_planner)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find auvsl_planner)/config/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find auvsl_planner)/config/base_local_planner_params.yaml" command="load" />
  </node>
  
  
  <rosparam file="$(find auvsl_planner)/config/params.yaml" />
  <node pkg="auvsl_planner" type="auvsl_planner_node" name="auvsl_global_planner" output="screen" launch-prefix=" "/>
  
  
  <arg name="max_range" default="0"/>
  <arg name="p2n" default="true"/>
  <arg name="pm" default="true"/>

  <node pkg="rtabmap_ros" type="icp_odometry" name="icp_odometry" output="screen" >
    <remap from="scan"      to="/front/scan"/>
    <remap from="odom"      to="/scanmatch_odom"/>
    <remap from="odom_info" to="/rtabmap/odom_info"/>
	
    <param name="frame_id"        type="string" value="base_link"/>

    <param name="odom_frame_id"   type="string" value="icp_odom"/>
    <param name="guess_frame_id"  type="string" value="odom"/>
    
    <param name="Icp/VoxelSize"     type="string" value="0.05"/>
    <param name="Icp/RangeMax"      type="string" value="$(arg max_range)"/>
    <param name="Icp/Epsilon"       type="string" value="0.001"/>
    
    <param if="$(arg p2n)" name="Icp/PointToPlane"  type="string" value="false"/>
    <param if="$(arg p2n)" name="Icp/PointToPlaneK"  type="string" value="5"/>
    <param if="$(arg p2n)" name="Icp/PointToPlaneRadius"  type="string" value="0.3"/>
    <param unless="$(arg p2n)" name="Icp/PointToPlane"  type="string" value="false"/>
    <param unless="$(arg p2n)" name="Icp/PointToPlaneK"  type="string" value="0"/>
    <param unless="$(arg p2n)" name="Icp/PointToPlaneRadius"  type="string" value="0"/>
    
    <param name="Icp/MaxCorrespondenceDistance" type="string" value="0.1"/>
    <param name="Icp/PM"             type="string" value="$(arg pm)"/> <!-- use libpointmatcher to handle PointToPlane with 2d scans-->
    <param name="Icp/PMOutlierRatio" type="string" value="0.85"/>
    <param name="Odom/Strategy"        type="string" value="0"/>
    <param name="Odom/GuessMotion"     type="string" value="true"/>
    <param name="Odom/ResetCountdown"  type="string" value="0"/>
    <param name="Odom/ScanKeyFrameThr"  type="string" value="0.9"/>
  </node>

  <group ns="rtabmap">
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="">
      <param name="frame_id" type="string" value="base_link"/>          
      
      <param name="subscribe_odom" type="bool" value="true"/>
      <param name="subscribe_odom_info" type="bool" value="true"/>
      
      <param name="subscribe_depth" type="bool" value="false"/>
      <param name="subscribe_rgbd" type="bool" value="false"/>
      
      <param name="subscribe_scan" type="bool" value="true"/>
      
      <remap from="scan"        to="/front/scan"/>
      <remap from="odom"        to="/scanmatch_odom"/>
      <remap from="odom_info"   to="/rtabmap/odom_info"/>
      
      <param name="queue_size" type="int" value="10"/>
      <param name="Mem/IncrementalMemory" type="string" value="false"/>    
	  <param name="Mem/InitWMWithAllNodes" type="string" value="true"/>

      <!-- RTAB-Map's parameters -->
      <param name="Grid/FromDepth"            type="string" value="true"/> <!-- occupancy grid from rgbd and therefore 3d -->
      <param name="Reg/Force3DoF"             type="string" value="true"/>
      <param name="Reg/Strategy"              type="string" value="1"/> <!-- 1=ICP -->
      
      <!-- ICP parameters -->
      <param name="Icp/VoxelSize"                 type="string" value="0.05"/>
      <param name="Icp/CorrespondenceRatio"       type="string" value="0.2"/>
      <param name="Grid/RangeMax"                 type="string" value="$(arg max_range)"/>
    </node>
  </group>    
  
</launch>
