<launch>
  <!-- Following is for some reason required in ROS Noetic. My mistake for using noetic :( -->
       <param name="robot_description" command="$(find xacro)/xacro $(find jackal_description)/urdf/jackal.urdf.xacro"/>
       
       <include file="$(find jackal_gazebo)/launch/hrtac_world.launch">
       <arg name="use_sim_time" value="true"/>
       <arg name="gui" value="true"/>
       <arg name="headless" value="false"/>
       <arg name="joystick" value="false"/>

       </include>
       <rosparam file="$(find auvsl_planner)/config/jackal_gazebo_pid.yaml" command="load"/> 

  <node name="auvsl_planner" pkg="auvsl_planner" type="auvsl_planner_node" args="">
  </node>
    
  <!-- Run the map server
       <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/> -->
  
  <arg name="max_range" default="0"/>
  <arg name="p2n" default="true"/>
  <arg name="pm" default="true"/>

  <!--
  <node pkg="rtabmap_ros" type="icp_odometry" name="icp_odometry" output="screen" >
    <remap from="scan"      to="/front/scan"/>
    <remap from="odom"      to="/scanmatch_odom"/>
    <remap from="odom_info" to="/rtabmap/odom_info"/>
	
    <param name="frame_id"        type="string" value="base_link"/>

    <param name="odom_frame_id"   type="string" value="icp_odom"/>
    <param name="guess_frame_id"  type="string" value="odom"/>
    
    <param name="Icp/VoxelSize"     type="string" value="0.05"/>
    <param name="Icp/RangeMax"      type="string" value="$(arg max_range)"/>
    <param name="Icp/Epsilon"       type="string" value="0.001"/>
    
    <param if="$(arg p2n)" name="Icp/PointToPlane"  type="string" value="false"/>
    <param if="$(arg p2n)" name="Icp/PointToPlaneK"  type="string" value="5"/>
    <param if="$(arg p2n)" name="Icp/PointToPlaneRadius"  type="string" value="0.3"/>
    <param unless="$(arg p2n)" name="Icp/PointToPlane"  type="string" value="false"/>
    <param unless="$(arg p2n)" name="Icp/PointToPlaneK"  type="string" value="0"/>
    <param unless="$(arg p2n)" name="Icp/PointToPlaneRadius"  type="string" value="0"/>
    
    <param name="Icp/MaxCorrespondenceDistance" type="string" value="0.1"/>
    <param name="Icp/PM"             type="string" value="$(arg pm)"/> 
    <param name="Icp/PMOutlierRatio" type="string" value="0.85"/>
    <param name="Odom/Strategy"        type="string" value="0"/>
    <param name="Odom/GuessMotion"     type="string" value="true"/>
    <param name="Odom/ResetCountdown"  type="string" value="0"/>
    <param name="Odom/ScanKeyFrameThr"  type="string" value="0.9"/>
  </node>
  -->
    
  <group ns="rtabmap">
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="">
      <param name="frame_id" type="string" value="base_link"/>          
      
      <param name="subscribe_odom" type="bool" value="true"/>
      <param name="subscribe_odom_info" type="bool" value="false"/>
      
      <param name="subscribe_depth" type="bool" value="false"/>
      <param name="subscribe_rgbd" type="bool" value="false"/>
      <param name="subscribe_rgb" type="bool" value="false"/>
      <param name="subscribe_scan" type="bool" value="false"/>
      <param name="subscribe_scan_cloud" type="bool" value="true"/>  
      
      <remap from="scan_cloud"  to="/mid/points"/>
      <remap from="odom"        to="/odometry/filtered"/>

      <param name="approx_sync"       value="true"/> 
      <param name="queue_size" type="int" value="10"/>
      <param name="Mem/IncrementalMemory" type="string" value="true"/>    
	  <param name="Mem/InitWMWithAllNodes" type="string" value="false"/>
      <param name="RGBD/SavedLocalizationIgnored" type="bool" value="true"/>
      
      <!-- RTAB-Map's parameters -->
      <param name="Grid/3D"                   type="string" value="true"/>
      <param name="Grid/FromDepth"            type="string" value="false"/> <!-- occupancy grid from rgbd and therefore 3d -->
      <param name="Reg/Force3DoF"             type="string" value="true"/>
      <param name="Reg/Strategy"              type="string" value="1"/> <!-- 1=ICP -->
      
      <!-- ICP parameters -->
      <param name="Icp/VoxelSize"                 type="string" value="0.05"/>
      <param name="Icp/CorrespondenceRatio"       type="string" value="0.2"/>

      <!-- RTAB-Map's segmentation parameters -->
      <param name="Grid/RangeMax"               type="string" value="100"/>
      <param name="Grid/MaxGroundAngle"         type="string" value="60"/>
      <param name="Grid/ClusterRadius"          type="string" value=".1"/>
      <param name="Grid/NoiseFilteringMinNeighbors"    type="string" value="20"/>
      <param name="Grid/NormalK"                type="string" value="100"/>
        
    </node>

    <!--
    <node name="rtabmapviz" pkg="rtabmap_ros" type="rtabmapviz" args="_frame_id:=base_link">
      <remap from="scan_cloud"  to="/mid/points"/>
      <remap from="odom"        to="/odometry/filtered"/>
    </node>
    -->
  </group>    
  
</launch>
