<launch>
  <!-- Following is for some reason required in ROS Noetic. My mistake for using noetic :( -->
  <param name="robot_description" command="$(find xacro)/xacro $(find jackal_description)/urdf/jackal.urdf.xacro"/>
  
  <include file="$(find jackal_gazebo)/launch/hrtac_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>

    <arg name="joystick" value="false"/>
  </include>
  <rosparam file="$(find auvsl_planner)/config/jackal_gazebo_pid.yaml" command="load"/> 

  <rosparam file="$(find auvsl_planner)/config/terrain_map_params.yaml"/>   
  <rosparam file="$(find auvsl_planner)/config/params.yaml"/>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
    <param name="use_odometry_yaw" value="true"/>
    <param name="yaw_offset" value="1.570796327"/>
    <remap from="imu/data" to="/imu/data"/>
    <remap from="gps/fix" to="/navsat/fix"/> 
  </node>
    
</launch>
